# Cổng chạy ứng dụng (Render tự cấp PORT)
PORT=3000

# Token của Bot Discord (Lấy từ Discord Developer Portal > Bot > Reset Token)
BOT_TOKEN=your_bot_token_here

# ID của kênh chung dùng để lắng nghe lệnh !getapp
CHANNEL_ID=your_channel_id_here

# Link tải file client.exe (GitHub Releases)
EXE_DOWNLOAD_URL=https://github.com/silvadrag2006-a11y/discord-webhook-app/releases/latest

# Mã băm SHA-256 để kiểm tra tính toàn vẹn của file client.exe
SHA256_HASH=43bf09957e2f765834d2d29c7b86262c3f8c3a55b9c82c5f8a5c27b82b05e0e3
